#map {
    height: 100vh;
}

.test {
    width: 500px;
    height: 300px;
}

#container {
    width: 500px;
    height: 400px;
}

.nav-pills .nav-link {
    color: black !important;
}

.nav-pills .nav-link.active {
    background: lightgrey;
}