#map {
    height: 100vh;
}

.test {
    width: 500px;
    height: 300px;
}

#container img {
    clear:both;
    float:left;
    width: 200px;
    height: auto;
    border-radius:100px;
    margin: 20px;
    margin-top:0px;
    border:thin solid #CCC;
}

.nav-pills .nav-link {
    color: black !important;
}

.nav-pills .nav-link.active {
    background: lightgrey;
}


